#content {
	width: 870px;
}

/* The style of the column */
#column {
	float: left;
	margin: 0;
	margin-right: 25px;
	margin-top: 5px;
}

#column h2 {
	color: #fff;
	background: #CF2343;
	padding-bottom: 0;
	font-size: 1.8em;
	font-weight: 300;
	padding-left: 3px;
	margin: 0;
	margin-bottom: 10px;
		
}

#column div img {
	padding: 0;
}

/* The style of the contact info list */
#contact {
	padding-left: 0;
	list-style: none;
	font-size: 1.7em;
	line-height: 1.2em;
}

#contact li a {
	display: block;
	width: 60px;
	padding-left: 3px;
	color: #a0a0a0;
	-webkit-transition: all 0.7s ease-in-out;
	-moz-transition: all 0.7s ease-in-out;
	-o-transition: all 0.7s ease-in-out;
}

li#twitter a:hover {
	color: white;
	background-color: #9AE4E8;
}

li#facebook a:hover {
	color: white;
	background-color: #3B5998;
}

li#linkedin a:hover {
	color: white;
	background-color: #4875B4;
}

li#email {
	padding-left: 3px;
	color: #a0a0a0;
}

/* The style of the introduction */
#introduction {
	margin: 0;
	overflow: hidden;
	width: 720px;
}

#introduction p {
	font-size: 1.5em;
	line-height: 1.6em;
	padding-top: 20px;
	padding-left: 5px;
}