/* clear up style */
h1, h2, p {
padding: 0;
margin: 0;
}


/* general style */
body {
	text-decoration: none;
	font-size: 9px;
	font-family: 'Gentium Basic', serif;
	width: 870px;
	margin-left: auto;
	margin-right: auto;
}

a, a:visited {
	color: #0000;
	text-decoration: none;
	outline: none;
}

/* The header style */
h1 a{
	color: #CF2343;
	font-weight: 600;
	font-size: 2.7em;
	text-shadow: 0px 1px 2px rgba(51,51,51,0.77);
}

#sitenav {
	width: inherit;
}

#sitenav table {
	padding-left: 700px;
	font-size: 1.6em;
	font-weight: 400;
	padding-top: 50px;
}

#sitenav table td {
	padding: 0px 5px 0px 5px;	
}

#sitenav table td a {
	color: #CF2343;
}

#content {
	width: 870px;
	margin: auto;
	padding: 0;
	margin-top: 30px;
}

/* The footer style is here!!! */
footer {
	font-size: 1.5em;
	color: #A0A0A0;
	font-weight: 100;
	width: 870;
	text-align: center;
	clear: both;
	padding-top: 50px;
}

/* The about page stype comes here. The same column id tag in blog*/
#column {
	float: left;
	margin: 0;
	padding: 0;
	margin-top: 5px;
}

#column h2 {
	color: #fff;
	background: #CF2343;
	padding-bottom: 0;
	font-size: 1.8em;
	font-weight: 300;
	padding-left: 3px;
	margin: 0;
	margin-bottom: 10px;
	width: 125px;	
}

#column div img {
	padding: 0;
}

/* The style of the contact info list. The same introduction id tag in blog*/
#contact {
	padding-left: 0;
	list-style: none;
	font-size: 1.6em;
	line-height: 1.2em;
}

#contact li a {
	display: block;
	width: 60px;
	padding-left: 3px;
	color: #a0a0a0;
	-webkit-transition: all 0.7s ease-in-out;
	-moz-transition: all 0.7s ease-in-out;
	-o-transition: all 0.7s ease-in-out;
}

li#twitter a:hover {
	color: white;
	background-color: #9AE4E8;
}

li#facebook a:hover {
	color: white;
	background-color: #3B5998;
}

li#linkedin a:hover {
	color: white;
	background-color: #4875B4;
}

li#email {
	padding-left: 3px;
	color: #a0a0a0;
}

/* The style of the introduction, also contains the main style for archives */
#introduction {
	margin: 0;
	width: 720px;
	padding-left: 150px;
	
}

#introduction p {
	font-size: 1.6em;
	line-height: 1.6em;
	padding-top: 20px;
	padding-left: 5px;
}

/* The blog css comes here */
h2.list_title {
	color: #CF2343;
	font-size: 1.2em;
	font-weight: 800;
	padding-left: 20px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.post_list {
	font-size: 1.6em;
	list-style: none;
	padding-top:0;	
	line-height: 1.6em;
}

.post_date {
	padding-left: 30px;
		
}

.post_link {
	color: #000000;
	padding-left: 20px;
}

.post_list a:hover {
	color: #CF2343;
}

li.year {
	padding-left: 20px;
	font-weight: 600;
	line-height: 1.5em;
	padding-top: 5px;
}

/*The default layout of the post comes here, only some extra styles */
h2.post_title {
	color: #CF2343;
	font-size: 1.8em;
	font-weight: 800;
	padding-left: 5px;
	padding-top: 5px;
	padding-bottom: 5px;

}

a#back_list {
	font-size: 1.8em;
	margin: 0;
	color: #a0a0a0;
	display: block;
	width: 122px;
	padding-right: 3px;
	text-align: right;
	font-weight: 300;
	
	-webkit-transition: all 1s ease-out;
	-moz-transition: all 1s ease-out;
	-o-transition: all 1s ease-out;
}

a#back_list:hover {
	color: #e4e4e4;
	background: #CF2343;
}

	/* Then there is the Disqus style */
#comment {
	padding: 10px 0px 0px 5px; 
}

#dsq-content h3 {
	font-family: inherit;
	font-size: 1.62em;
	font-weight: 600;	
}

.dsq-textarea-background {
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	-o-border-radius: 0;
}

#dsq-account-dropdown a,
#dsq-subscribe a,
a.dsq-brlink {
	text-decoration: none;
	color: black;
	font-size: 1.5em;
}
	
#dsq-sort-by,
#dsq-pagination {
	display: none;
}

a.dsq-brlink {
	font-size: 1.5em;
	color: #A0A0A0;
	font-weight: 100;
	padding: 0;
	margin: 0;
	float: right;
}

.dsq-global-toolbar-right {
	display: none;
}
	
		/* The comment footer style, small changes */
.dsq-comment-footer {
	font-size: 1.5em;
}


