/* clear up style */
h1, h2, p {
padding: 0;
margin: 0;
}

/* general style */
body {
	text-decoration: none;
	font-size: 9px;
	font-family: 'Gentium Basic', serif;
	width: 870px;
	margin-left: auto;
	margin-right: auto;
}

a, a:visited {
	color: #0000;
	text-decoration: none;
	outline: none;
}

/* The header style */
h1 {
	color: #CF2343;
	/*text-transform: uppercase;*/
	font-weight: 600;
	font-size: 4em;
	text-shadow: 0px 1px 2px rgba(51,51,51,0.77);
}

#sitenav {
	width: inherit;
}

#sitenav table {
	padding-left: 700px;
	font-size: 1.6em;
	font-weight: 400;
	padding-top: 50px;
}

#sitenav table td {
	padding: 0px 5px 0px 5px;	
}

#sitenav table td a {
	color: #CF2343;
}

#content {
	width: 870px;
	margin: auto;
	padding: 0;
	margin-top: 30px;
}

footer {
	font-size: 1.5em;
	color: #a0a0a0;
	width: 870;
	text-align: center;
	clear: both;
	padding-top: 50px;
}

/* The about page stype comes here. The same column id tag in blog*/
#column {
	float: left;
	margin: 0;
	padding: 0;
	margin-top: 5px;
}

#column h2 {
	color: #fff;
	background: #CF2343;
	padding-bottom: 0;
	font-size: 1.8em;
	font-weight: 300;
	padding-left: 3px;
	margin: 0;
	margin-bottom: 10px;
	width: 125px;	
}

#column div img {
	padding: 0;
}

/* The style of the contact info list. The same introduction id tag in blog*/
#contact {
	padding-left: 0;
	list-style: none;
	font-size: 1.7em;
	line-height: 1.2em;
}

#contact li a {
	display: block;
	width: 60px;
	padding-left: 3px;
	color: #a0a0a0;
	-webkit-transition: all 0.7s ease-in-out;
	-moz-transition: all 0.7s ease-in-out;
	-o-transition: all 0.7s ease-in-out;
}

li#twitter a:hover {
	color: white;
	background-color: #9AE4E8;
}

li#facebook a:hover {
	color: white;
	background-color: #3B5998;
}

li#linkedin a:hover {
	color: white;
	background-color: #4875B4;
}

li#email {
	padding-left: 3px;
	color: #a0a0a0;
}

/* The style of the introduction, also contains the main style for archives */
#introduction {
	margin: 0;
	width: 720px;
	padding-left: 150px;
	
}

#introduction p {
	font-size: 1.5em;
	line-height: 1.6em;
	padding-top: 20px;
	padding-left: 5px;
}

/* The blog css comes here */
.post_list {
	font-size: 1.5em;
	list-style: none;
	padding-top: 20px;	
	padding-left: 5px;
	line-height: 1.6em;
}

.post_date {
		
}

.post_link {
	color: #000000;
	padding-left: 20px;
}

.post_list a:hover {
	color: #CF2343;
}

li.year {
	font-weight: 600;
	line-height: 1.8em;
}


	



