body {
	font-size: medium;
	color: #333333;
	font-family: Myriad Pro, Rotis SansSerif Std, sans-serif;
	background-image:url(/images/inflicted.png);
	background-repeat: repeat;
	padding: 0;
	margin: 0;
}
div#structure {
	margin: 0;
	padding: 0;
	margin-left: auto;
	margin-right: auto;
	width: 700px;
	background: url(/images/white.png);
	background-repeat: repeat;
	padding-bottom: 20px;
}

div#head {
	margin: 0;
	padding: 0;
	width: 700px;
	height: 200px;
}

h1 {
	color: black;
	font-size: 1.8em;
	float: right;
	line-height: 1em;
	padding-top: 150px;
	padding-right: 20px;
}

h2 {
	margin: 0;
	font-size: 1.4em;
	padding: 40px 10px 5px 40px;
	opacity: 1;
	z-index: 1;
	width: 100px;
}

p {
	display: block;
	margin: 0;
	padding: 10px 30px 10px 30px;
	opacity: 1;
	font-size: 0.9em;
	line-height: 1.5em;
}

p.date {
	margin: 0;
	font-size: 0.8em;
	width: 30px;
	padding-left: 40px;
	padding-top: 0;
	padding-bottom: 0;
}

::selection {
	background: #333333;
	color: white;
}

div#footer {
	width: 700px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	font-size: 0.7em;
	padding-top: 20px;
	background: url(/images/white.png);
}