body {
	font-size: medium;
	color: #333333;
	font-family: Myriad Pro, Rotis SansSerif Std, sans-serif;
	background-image:url(/images/inflicted.png);
	background-repeat: repeat;
	padding: 0;
	margin: 0;
}

div#structure {
	margin: 0;
	padding: 0;
	margin-left: auto;
	margin-right: auto;
	width: 700px;
	background: url(/images/white.png);
	background-repeat: repeat;
	/*padding-bottom: 20px;*/
}

div#head {
	float: left;
	margin: 0;
	padding: 0;
	width: 700px;
	height: 200px;
}

div#content {
	width: 700px;
	float: left;
	padding-bottom: 50px;
}

h1 {
	color: black;
	font-size: 1.8em;
	float: right;
	line-height: 1em;
	padding-top: 150px;
	padding-right: 20px;
}

h2 {
	margin: 0;
	font-size: 1.4em;
	padding: 40px 10px 5px 40px;
	width: auto;
}

p {
	display: block;
	margin: 0;
	padding: 0px 30px 10px 40px;
	font-size: 0.9em;
	line-height: 1.5em;
}

p.date {
	margin: 0;
	font-size: 0.8em;
	padding-left: 40px;
	padding-top: 0;
	padding-bottom: 0;
}

::selection {
	background: #333333;
	color: white;
}

div#footer {
	text-align: center;
	font-size: 0.7em;
}

ul.posts {
	padding-left: 40px;
	padding-top: 0;
	list-style-type: none;
	font-size: 0.9em;
	line-height: 1.5em;
}

a:link {
	color: #333333;
}

a:visited {
	color: gray;
}

a:hover {
	color: white;
	background: #333333;
}

span#list {
	float: left;
	width: 85px;
	color: #333333;
	
}
