@media only screen and (min-width: 768px) and (max-width: 959px) {
  /* line 7, ../sass/responsive.scss */
  html, body {
    height: 100%;
  }

  /* line 11, ../sass/responsive.scss */
  #site-container {
    width: 768px;
  }

  /* line 15, ../sass/responsive.scss */
  #header, #footer {
    width: 100%;
  }

  /* line 21, ../sass/responsive.scss */
  #content,
  #blog-list,
  #self-content {
    width: 585px;
  }

  /* line 26, ../sass/responsive.scss */
  #post-content,
  #work-text {
    *zoom: 1;
    width: 520px;
  }
  /* line 42, ../sass/partials/_blankwork.scss */
  #post-content:before, #post-content:after,
  #work-text:before,
  #work-text:after {
    content: "";
    display: table;
  }
  /* line 48, ../sass/partials/_blankwork.scss */
  #post-content:after,
  #work-text:after {
    clear: both;
  }

  /* line 31, ../sass/responsive.scss */
  #work-cont {
    width: 100%;
  }

  /* line 35, ../sass/responsive.scss */
  #blog-list ul {
    display: block;
    padding-left: 30px;
  }

  /* line 39, ../sass/responsive.scss */
  .mobile-order {
    display: none;
  }
}
@media only screen and (max-width: 767px) {
  /* line 47, ../sass/responsive.scss */
  #site-container {
    width: 300px;
    height: auto;
    padding: 0 10px;
  }

  /* line 53, ../sass/responsive.scss */
  #header, #footer {
    width: 100%;
    *zoom: 1;
  }
  /* line 42, ../sass/partials/_blankwork.scss */
  #header:before, #header:after, #footer:before, #footer:after {
    content: "";
    display: table;
  }
  /* line 48, ../sass/partials/_blankwork.scss */
  #header:after, #footer:after {
    clear: both;
  }

  /* line 59, ../sass/responsive.scss */
  #header h1 {
    padding: 10px 5px 5px;
    margin-bottom: 20px;
  }
  /* line 63, ../sass/responsive.scss */
  #header #menu-nav {
    display: none;
  }
  /* line 66, ../sass/responsive.scss */
  #header #menu-nav-drop {
    display: block;
    width: 150px;
    padding-right: 50px;
    margin: 0 auto 30px;
  }

  /* line 75, ../sass/responsive.scss */
  #site-nav {
    width: 100%;
  }

  /* line 79, ../sass/responsive.scss */
  #page-nav {
    width: 100%;
    overflow: auto;
  }
  /* line 82, ../sass/responsive.scss */
  #page-nav ul {
    text-align: left;
  }
  /* line 84, ../sass/responsive.scss */
  #page-nav ul li {
    float: left;
    padding: 0 7px;
  }

  /* line 91, ../sass/responsive.scss */
  #page-nav {
    *zoom: 1;
    display: block;
    float: none;
    width: 280px;
    font-size: 0.9em;
    margin: 0 auto;
    padding-bottom: 7px;
    background: url(../images/dots.png) repeat-x bottom;
  }
  /* line 42, ../sass/partials/_blankwork.scss */
  #page-nav:before, #page-nav:after {
    content: "";
    display: table;
  }
  /* line 48, ../sass/partials/_blankwork.scss */
  #page-nav:after {
    clear: both;
  }
  /* line 100, ../sass/responsive.scss */
  #page-nav ul {
    text-align: left;
    padding-right: 0;
  }
  /* line 103, ../sass/responsive.scss */
  #page-nav ul li {
    float: left;
    padding: 0 3px;
  }
  /* line 106, ../sass/responsive.scss */
  #page-nav ul li a {
    padding: 0;
  }

  /* line 113, ../sass/responsive.scss */
  #content {
    display: block;
    float: none;
    width: 200px;
    margin-right: auto;
    margin-left: auto;
  }

  /* line 121, ../sass/responsive.scss */
  #work-cont {
    width: 100%;
  }

  /* line 125, ../sass/responsive.scss */
  #work-text {
    display: block;
    width: 300px;
    margin: 0 auto 40px;
  }
  /* line 129, ../sass/responsive.scss */
  #work-text p {
    font-size: 0.875em;
    line-height: 1.28571em;
  }

  /* line 135, ../sass/responsive.scss */
  #blog-links {
    display: none;
  }

  /* line 140, ../sass/responsive.scss */
  #blog-links-m
  li:nth-child(n+1) a {
    font-size: 0.875em;
    line-height: 1.28571em;
    color: #b3b3b3;
    padding: 0 3px;
  }

  /* line 147, ../sass/responsive.scss */
  #blog-list,
  .mobile-order {
    *zoom: 1;
    display: block;
    width: 100%;
    margin: 0;
  }
  /* line 42, ../sass/partials/_blankwork.scss */
  #blog-list:before, #blog-list:after,
  .mobile-order:before,
  .mobile-order:after {
    content: "";
    display: table;
  }
  /* line 48, ../sass/partials/_blankwork.scss */
  #blog-list:after,
  .mobile-order:after {
    clear: both;
  }
  /* line 152, ../sass/responsive.scss */
  #blog-list ul,
  .mobile-order ul {
    padding: 0 10px;
    margin: 5px auto;
  }
  /* line 155, ../sass/responsive.scss */
  #blog-list ul li,
  .mobile-order ul li {
    font-size: 0.9em;
    line-height: 1.4em;
    color: black;
  }
  /* line 159, ../sass/responsive.scss */
  #blog-list ul li time,
  .mobile-order ul li time {
    padding: 0 5px 0 0;
  }
  /* line 163, ../sass/responsive.scss */
  #blog-list ul li:first-child,
  .mobile-order ul li:first-child {
    display: block;
    padding-bottom: 5px;
    background: url(../images/dots.png) repeat-x bottom;
  }
  /* line 167, ../sass/responsive.scss */
  #blog-list ul li:first-child span,
  .mobile-order ul li:first-child span {
    color: #d51c52;
    padding: 0 5px;
  }

  /* line 175, ../sass/responsive.scss */
  #blog-links-m {
    overflow: hidden;
    margin: 0 0 40px;
  }

  /* line 180, ../sass/responsive.scss */
  #p-container {
    width: 100%;
  }
  /* line 182, ../sass/responsive.scss */
  #p-container #date {
    font-size: 0.75em;
    line-height: 1.5em;
    margin-left: 0;
  }
  /* line 186, ../sass/responsive.scss */
  #p-container #post-content {
    display: inline-block;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
  }
  /* line 191, ../sass/responsive.scss */
  #p-container #post-content h3 {
    margin-top: 8px;
  }
  /* line 194, ../sass/responsive.scss */
  #p-container #post-content p {
    font-size: 0.875em;
    line-height: 1.28571em;
  }

  /* line 202, ../sass/responsive.scss */
  #self {
    width: 100%;
    margin: 0 auto;
  }
  /* line 205, ../sass/responsive.scss */
  #self ul {
    background: none;
  }
  /* line 207, ../sass/responsive.scss */
  #self ul li:first-child {
    float: left;
    padding: 0 7px;
    background: url(../images/dots-ver.png) repeat-y right;
  }
  /* line 212, ../sass/responsive.scss */
  #self ul li:nth-child(n+2) {
    text-align: left;
    padding-left: 10px;
  }
  /* line 215, ../sass/responsive.scss */
  #self ul li:nth-child(n+2) span {
    padding-left: 3px;
  }

  /* line 222, ../sass/responsive.scss */
  #self-content {
    display: block;
    overflow: hidden;
    float: none;
    font-size: 0.875em;
    line-height: 1.28571em;
    width: 290px;
    margin: 0 auto 30px;
    padding: 0 5px;
  }
}
