/* filter bar style */
#filter {
	font-size: 1.8em;
	display: block;
	width: 125px;
	float: left;
	margin: 0;
	padding: 0;
	margin-top: 5px;
	margin-right: 25px;
	line-height: 1.2em;
}

#filter a {
	color: #a0a0a0;
	display: block;
	width: 122px;
	padding-right: 3px;
	text-align: right;
	font-weight: 300;
	
	-webkit-transition: all 1s ease-out;
	-moz-transition: all 1s ease-out;
	-o-transition: all 1s ease-out;
	
}

#filter a:hover {
	color: #e4e4e4;
	background: #CF2343;
}

#filter a.active {
	color: #fff;
	background: #CF2343;
}

/* the preview pictures' style */
.items {
	display: block;
	overflow: hidden;
	width: 720px;
	margin: 0;
	padding: 0;
}

.items li {
	float: left;
	list-style: none;
	margin: 5px;
	padding: 5px;
	position: relative;
	box-shadow: 0 1px 3px rgba(0,0,0,0.1);
}

.items li a {
	height: 120px;
	display: block;
	position: relative;
	overflow: hidden;
}

.items li a img {
	display: block;
	position: relative;
	height: 100%;
	width: 100%;
	z-index: -10px;
}

.items li a div {
	display: block;
	background: rgba(75,75,75,0.7);
	width: 160px;
	height: 90px;
	position: absolute;
	bottom: -90px;
	left: 0;
	
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
}

.items li a div span {
	position: absolute;
	font-size: 1.2em;
	margin: 30px;
	text-transform: uppercase;
	font-weight: normal;
	color: rgba(255,255,255,0.9);
}

#preview ul{
	overflow:hidden;
}

#preview ul.hidden{
	display:none;
}