---
layout: archives
title: Blog archive
date: 2011 to now
---
<ul id = "introduction" class="post_list">
	{% for post in site.posts %}
	{% capture y %}{{post.date | date:"%Y"}}{% endcapture %}
	{% if year != y %}
    {% assign year = y %}
    <li class="year">{{ y }}</li>
  {% endif %}
  <li>
    <time class = "post_date" datetime="{{ post.date | date:"%Y-%m-%d" }}">{{ post.date | date:"%Y-%m-%d" }}</time>
    <a class="post_link" href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a>
  </li>
{% endfor %}
</ul>



