<header id="header">
	<a clss="title" href="/"><h1>Courage+</h1></a>

<!--#site-navigation-->
	<nav id="site-nav">
		<ul id="menu-nav" class="navigation">
			<li id="portfolio"><a href="/">portfolio</a></li>
			<li id="blog"><a href="/story/">blog</a></li>
			<li id="about"><a href="/about.html">about</a></li>
		</ul>
		<select id="menu-nav-drop" class="dropdown-menu">
			<option value="#">-choose-</option>
			<option value="/">portfolio</option>
			<option value="/story/">blog</option>
			<option value="/about.html">about</option>
		</select>
	</nav>
</header>