$padding: 7px;
$margin: 5px;
$bottom-mar: 70px;
$baseColor: #D51C52;
$secColor: white;
$black:	black;
$back: gray;

// #set the vertial rhythm variables
$base-font-size: 16px;
$base-line-height: 6px;

