<!doctype html>
<html>

---
layout: mainpage
title: Blog posts
date: 2011 to now
---

<head>
<title>blog</title>
<meta charset="utf-8" />

<link href='http://fonts.googleapis.com/css?family=Gentium+Basic:400,700,400italic,700italic' rel='stylesheet' type='text/css'/>
<link rel="stylesheet" href="../../../css/basic-jquery-slider.css" />
<link rel="stylesheet" href="../../css/layout.css" />

<style type="text/css">
body {
	text-decoration: none;
	font-size: 9px;
	font-family: 'Gentium Basic', serif;
	width: 870px;
	margin-left: auto;
	margin-right: auto;
}

#blog a {
	font-weight: 600;
}
</style>
</head>

<body>
<!-- Header with background_full_widow including the text -->
	<header id="mini_head">
		<h1>
			The title
		</h1>

		<!-- The navigation sector -->
		<nav id="sitenav">
			<table>
				<td id="portfolio"><a href="../../index.html">Portfolio</a></td>
				<td id="blog"><a href="../../../pages/blog/blog.html">Blog</a></td>
				<td id="about"><a href="../about.html">About</a></td>
			</table>
		</nav>
	</header>
	
	<content>
<!-- Here comes the content from the markdown -->
<!-- combine the css with the about/protopage -->
		<ul class="posts">
		  {% for post in site.posts %}
		  {% capture y %}{{post.date | date:"%Y"}}{% endcapture %}
		  {% if year != y %}
		    {% assign year = y %}
		    <li class="listing-seperator">{{ y }}</li>
		  {% endif %}
		  <li>
		    <time datetime="{{ post.date | date:"%Y-%m-%d" }}">{{ post.date | date:"%Y-%m-%d" }}</time>
		    <a class="post_link" href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a>
		  </li>
		{% endfor %}
		</ul>

	</content>

</body>



