 <!DOCTYPE html>
<html>
	<head>
		<title>{{ page.title }}</title>
		<meta charset="UTF-8"/>
		<link rel="stylesheet" href="/css/post.css"/>
	</head>
	<body>
		<div id="structure">
				<time datetime="{{page.date}}" pubdate="pubdate"></time>
			<div id="head">
				<h1>Another Way</h1>
			</div>
			<div id="content">
				<h2>{{ page.title }}</h2>
				<p class="date">{{ page.date }}</p>
				{{ content }}
				<script type="text/javascript" src="http://mynameisjy.disqus.com/combination_widget.js?num_items=5&hide_mods=0&color=blue&default_tab=people&excerpt_length=200"></script><a href="http://disqus.com/">Powered by Disqus</a>
			</div>
			<div id="footer">
				<p>Blog @Github</p>
			</div>
		</div>
	</body>
</html>