 <!DOCTYPE html>
<html>
	<head>
		<title>{{page.title}}</title>
		<meta charset="UTF-8"/>
		<link rel="stylesheet" href="/css/post.css"/>
		<style type="text/css">
ul.posts {
	padding-left: 40px;
	padding-top: 0;
}

a.link {
	color: #333333;
}

a.hover {
	color: white;
	background: #333333;
}

a.activated {
	color: gray;
}		
		</style>
		
	</head>
	<body>
		<div id="structure">
				<time datetime="{{page.date}}"  pubdate="pubdate"></time>
			<div id="head">
				<h1>Another Way</h1>
			</div>
			<div id="content">
				<h2>{{page.title}}</h2>
				<p>{{ page.date | date_to_string }}</p>
				{{ content }}
			</div>
			<div id="footer">
				<p>Blog @Github</p>
			</div>
		</div>
	</body>
</html>