 <!DOCTYPE html>
<html>
	<head>
		<title>{{ page.title }}</title>
		<meta charset="UTF-8"/>
		<link rel="stylesheet" href="/css/post.css"/>
	</head>
	<body>
		<div id="structure">
				<time datetime="{{page.date}}" pubdate="pubdate"></time>
			<div id="head">
				<h1>Another Way</h1>
			</div>
			<div id="content">
				<h2>{{ page.title }}</h2>
				<p class="date">{{ post.date || date_to_string }}</p>
				{{ content }}
			<div id="disqus_thread"></div>
				<script type="text/javascript">
    var disqus_shortname = 'mynameisjy'; 
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
				</script>
			</div>
			<div id="footer">
				<p>Blog @Github</p>
			</div>
		</div>
	</body>
</html>